<ion-content color="light">
  <div class="geo-tools">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-item>
            <ion-label color="primary"><ion-icon name="pin"></ion-icon>location</ion-label>
            <ionic-selectable 
              [(ngModel)]="selected" 
              [items]="locations"
              [hasVirtualScroll]="true"
              itemValueField="name"
              itemTextField="name"
              [canSearch]="true"
              (onSearch)="searchLocations($event)"
              [hasInfiniteScroll]="true"
              searchFailText="Nothing found :("
              >
              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon name="close" size="large"></ion-icon>
              </ng-template>

              <ng-template ionicSelectableItemTemplate let-item="item">
                  {{item.name}}, {{ item.country }}
                </ng-template>

            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" class="current-location">
            <ion-icon ios="md-locate" md="md-locate"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card *ngFor="let spot of spots" color="justwhite">
    <ion-card-header>
      <ion-card-subtitle>{{spot.anonymous}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     {{spot.content}}
    </ion-card-content>
  </ion-card>
</ion-content>
