<ion-header translucent>
  <ion-toolbar>
    <ion-title>sign up</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon size="large" name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">username</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">date</ion-label>
      <ion-input formControlName="date_of_birth" type="date"></ion-input>
    </ion-item>

    <ion-button expand="block" strong="true" type="submit">Sign up!</ion-button>
  </form>
</ion-content>
