.hero{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.auth-block{
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}